.footer{
  padding-top: 30px;
}

.main-wrapper{
  border-radius: 8px !important;
}
.wrapper{
  border-radius: 8px !important;
}

.sidebar-wrapper{
  border-radius: 0px 8px 8px 0px !important;
}

.profile-container{
  border-radius: 0px 8px 0px 0px !important;
}
.profile{
  border-radius: 50% !important;
}